* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    border:border-box;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    height: 50px;
    width: 100px;
    

}
.logo {

    background-image: url(amazon.png);
    background-size: cover;
    height: 50px;
    width: 100px;
}

.border {
    border: 2px transparent;
}

.border:hover {
     border: 2px solid white;
}

.address-first {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

.address-second {
    font-size: 1rem;
    color: white;
    margin-left: 3px;
}

.add-icon {
    display: flex;
    align-items: center;
}

.nav-search {
    display: flex;
    width: 620px;
    background-color: pink;
    height: 40px;
    border-radius: 4px;
    justify-content: space-evenly;
    
}

.search-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    

}
.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;   
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #feb868;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}

.span-hi {
    font-size: 1rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.span-second {
    color: white;
    font-size: 0.85rem;
}


.hello{
    color: white;
    font-size: 0.85rem;
}
.nav-first{
    font-size: 0.85rem;
    font-weight: 700;
    color: white
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
    color: white

}

.nav-search:hover {
    border: 2px solid orange;
    
}

.nav-cart i {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.nav-cart {
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.nav-world {
    display: flex;
    justify-content: space-evenly;
    color: white;
}

.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;


}

.panel-ops p {
    display: inline;
    margin-left: 15px;
    font-weight: 700;

}

.panel-ops {
    width: 70%;
    font-size: 0.85rem;
   
}


.panel-deals {
    font-size: 0.95rem;
    font-weight: 700;
}


/** Hero section **/

.hero-section{
    background-image: url(hero.jpg);
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content:center ;
    align-items: flex-end;
    
    
    
}

.hero-message {
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 85%;
    margin-bottom: 25px;



}

.hero-message a {
    color: #007185;
}


/** Shop  section **/

.box {
    border: 2px solid black;
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
    
}

.content-sec {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;   
}

.content-sec p ,.content-sec h2{
    margin-left: 20px;
}

.box-item {
    margin-top: 20px;
    padding: 10px;  
}

.box-item p  {
    font-size: 0.85rem;
    font-weight: 700;

}

.box-item1 {
    margin-top: 30px;
    padding: 10px;
}

.box-item1 p {
    font-size: 0.85rem;
    font-weight: 700;


}
.box-img {
    height: 300px;
    display: flex;

}

.content-sec > p {
    margin-top: 20px;
}

.box2-img {
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;

}

.box2-content {
    margin-left: 1rem;
    margin-right: 1rem;
}

.box2-content p {
    background-color: #df3614;
}

.box-5-img {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0px 15px;
    flex-wrap: wrap;
    height: 300px;   
}

.content-sec-2 {
    display: flex;
    height: 285px;
    margin-top: 10px;
    justify-content: space-evenly;
    align-items: center;
    margin : 0px 0px 14px
    
}
span{
    display: flex;
    color: black;
    align-items: center;
    margin-right: 20px;
    padding-bottom: 20px;    
}
span a {
    padding: 0px 0px 0px 15px;
}

.img-c-4 {
    background-color: white;
}

/** Movie section **/

.movie-sec {
    height: 250px;
    background-color: #f3f3f3;
    margin-left: 30px;
}

.types-of-movie {

    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    margin-left: 20px;
    margin-right: 20px;

}

.footer {
    height: 300px;
    background-color: black;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-div {
    color: white;
    margin: 20px;
    color: green;
}
.h2-tag {
    display: flex;
    gap: 20px;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    color: red;
}

